<h1 style="padding-left: 20px;">Adopt, Don't Shop!</h1>
<br><br><br>

<div style="float:left; width:98%;">
  <%= image_tag "IMG_7961.jpg", alt: "Sorin", style: "height:650px; border-radius:10px;" %>
</div>
